# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\iti\iti_finalproject2\ecommerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
